.task-form {
  align-items: center;
  color: rgb(255, 255, 255);
  display: flex;
  font-size: x-large;
  justify-content: center;
  margin-top: 2.5vh;
  text-shadow: 2px 2px rgb(46, 56, 42);
}

.task-list {
  align-items: center;
  color: rgb(9, 52, 116);
  display: flex;
  font-size: larger;
  justify-content: center;
  margin-top: 2vh;
  text-shadow: 2px 1px rgb(214, 207, 207);
}
